<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FilterProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/loginurl</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PerfTestFilter</display-name>
    <filter-name>PerfTestFilter</filter-name>
    <filter-class>PerfTestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PerfTestFilter</filter-name>
    <url-pattern>/loginurl</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSrv</display-name>
    <servlet-name>LoginSrv</servlet-name>
    <servlet-class>LoginSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSrv</servlet-name>
    <url-pattern>/loginurl</url-pattern>
  </servlet-mapping>
</web-app>