<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="id1" class="com.pragim.hibautowiring.model.Person" autowire="byName">
		<property name="perId" value="101"/>
		<property name="perName" value="raja"/>
		<property name="addr" value="bangl"/>
	</bean>
	
	<bean id="mobile" class="com.pragim.hibautowiring.model.Mobile">
		<property name="model" value="5000"></property>
		<property name="price" value="20000"></property>
		<property name="name" value="samsung"></property>
	</bean>
	
	
	<bean id="mobile" class="com.pragim.hibautowiring.model.Mobile">
		<property name="model" value="5000"></property>
		<property name="price" value="20000"></property>
		<property name="name" value="samsung"></property>
	</bean>

</beans>